.container {
  padding: 0 58px;
  background-color: var(--c-background);
}

.brand-logo {
  position: absolute;
  left: 60px;
  top: 20px;
}

.add-movie-button {
  position: absolute;
  right: 60px;
  top: 20px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  color: var(--c-primary);
}
