.heading {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
}

.menu-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.input-label-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.button-text-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.text-xs {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.text-sm {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text-md {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.text-xl {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
